@mixin heading {
  font-family: var(--font-display);
  font-weight: 400;
}

%heading {
  font-family: var(--font-display);
  font-weight: 400;
}

.heading-1 {
  //@include heading;
  @extend %heading;
}
.heading-2 {
  //@include heading;
  @extend %heading;
}
.heading-3 {
  //@include heading;
  @extend %heading;
}
.heading-4 {
  //@include heading;
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: var(--color-grey-light-1);
  }
  &--dark {
    color: var(--color-grey-dark-1)
  }
}
