/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
/*
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/
$mainColor: #087f5b;
$greyColor: #343a40;
$white: #f9f7f6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.pagination {
  margin: 200px auto;

  display: flex;
  gap: 24px;
  align-items: center;
}

.btn {
  height: 48px;
  width: 48px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, .2);

  // 居中按钮
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  .btn-icon {
    width: 24px;
    height: 24px;
    stroke: $mainColor;
  }

  &:hover {
    background-color: $mainColor;

    & > .btn-icon {
      stroke: #f9f7f6;
    }
  }
}

.click {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  border-radius: 50%;

  // 居中文字
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:active {
    background-color: $mainColor;
    color: $white;
  }

  &:link,
  &:visited {
    background-color: $white;
  }
}

.onclick {
  background-color: $mainColor;
  color: $white;
}
